.layout {
	display: grid;
	grid-template-columns:
		1ch
		[full-start bleed-left-start] calc(2rem - 1ch)
		1fr
		[main-start bleed-right-start]
		minmax(auto, 80ch)
		[main-end bleed-left-end]
		1fr
		calc(2rem - 1ch) [full-end bleed-right-end]
		1ch;

	> * {
		grid-column: main;
	}
}
